.detail-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; 
  display: flex;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/detail.png'); 
  background-size: cover; 
  background-position: center; 
  opacity: 1; 
}

.content {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100%;
  width: 100%;
}

.image-detail {
  text-align: center; 
}

.image {
  width: 400px; 
  height: auto;
  transform: translate(-10%, -10%); 
}

.name {
  text-transform: uppercase;
  font-size: 1.5em; 
  font-weight: bold;
  transform: translate(10%, 80%);
  color: white;
  text-shadow: 3px 1px 0 rgba(52, 14, 87, 0.822);
}

.info-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 0px; 
  width: 300px;
  height: 150px;
  transform: translate(22.5%, -30%);
  align-content: flex-start;
  margin-right: 75px;
}

  .detailInfo {
    font-size: 1.5em;
    width: calc(50%);
    height: calc(0%); 
    color: rgba(32, 8, 54, 0.822);
  text-shadow: 1px 1px rgb(32, 8, 54);
  font-weight: bold;
  }

.detailInfo:nth-child(-n+3) {
  align-self: flex-end; 
}

.detailInfo:nth-child(n+4):nth-child(-n+6) {
  align-self: flex-start; 
}

.detailInfo:last-child {
  width: 100%;
  text-align: center;
}
