body, html {
  margin: 0;
  padding: 0;
  /* font-size: 0; */
}

.landing-container {
    /* position: absolute;
    margin: 0;
    padding: 0;
    overflow: visible;
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block; */

    display: flex;
    height: 100vh;
    width: 100%;


  }

.container-video {

 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 width: 100%;
 z-index: -1;

}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button-container {
    position: absolute;
    top: 65%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    border: none;
    text-align: center; /* Alinea el contenido al centro horizontalmente */
  }
  
  .start-button {
    background-color: rgba(238, 235, 189, 0.8);
    cursor: pointer;
    border: none;
    padding: 20px 30px;
    font-size: 16px;
    color: rgb(26, 97, 26);
    font-size: 24px;
    font-weight: bolder;
    position: relative;
    border-radius: 12px;
    
    
  }

.start-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, 
    rgb(106, 143, 21), rgb(76, 160, 28) ) ;
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    opacity: 0; /* Comienza con opacidad cero */
    transition: opacity 0.3s ease;
  }
.start-button:hover::before {
  content: ""; /* Agrega esta línea para asegurarte de que el pseudo-elemento tenga contenido */
  position: absolute;
  opacity: 1; /* Aumenta la opacidad cuando el mouse está sobre el botón */
  transition: opacity 0.3s ease; /* Transición de opacidad */
  border-radius: 10px;
  }