
.landing-container {

    display: flex;
    height: 100vh;
    width: 100%;

  }

.container-video {

 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 width: 100%;
 z-index: -1;

}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button-container {
    position: absolute;
    top: 65%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    border: none;
    text-align: center; /* Alinea el contenido al centro horizontalmente */
  }
  
  .start-button {

  cursor: pointer; /* Cambia el cursor al pasar por encima */
  position: absolute; /* Posición absoluta para que se superponga al video */
  top: 50%; /* Alinea verticalmente al centro */
  left: 50%; /* Alinea horizontalmente al centro */
  transform: translate(-52.5%, -50%); /* Centra el botón */
  z-index: 1; /* Asegura que esté por encima del video */

  /* Estilos de tamaño y padding */
  width: 550px; /* Ancho del botón */
  height: 350px; /* Alto del botón */
  padding: 10px 20px; /* Padding interno del botón */

  /* Transición de la transformación */
  transition: transform 0.5s ease; 
       
  }
  .start-button:active {
    transform: translate(-50%, -50%) scale(0.95); /* Reduce ligeramente la escala de la imagen */
  }

